<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<div class="row" style="padding-top: 7%; padding-bottom:15%; background: url(assets/files/wall.jpg) no-repeat center center; background-attachment: fixed; background-size: cover;">
  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>

          <!-- Form Header -->
          <h2 class="text-primary font-weight-bold text-center">
            {{ form.data.id > 0 ? ('Update Staff Member' | translate) : ('Add Staff Member' | translate) }}
          </h2>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <!-- Full Name -->
          <div style="padding-top:3%">
            <label><b>{{ 'FullName' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>
              <input type="text" name="fullName" [(ngModel)]="form.data.fullName" class="form-control" placeholder="{{ 'Enter fullName' | translate }}">
            </div>
            <span class="alertRedColor">{{ form.inputerror.fullName }}</span>
          </div>

          <!-- Joining Date -->
          <div style="padding-top:3%">
            <label><b>{{ 'JoiningDate' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>
              <input type="date" name="joiningDate" [value]="form.data.joiningDate | date:'yyyy-MM-dd'" (input)="form.data.joiningDate = parseDate($event.target.value)" class="form-control" required>
            </div>
            <span class="alertRedColor">{{ form.inputerror.joiningDate }}</span>
          </div>

          <!-- Previous Employer -->
          <div style="padding-top:3%">
            <label><b>{{ 'previousEmployer' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-building grey-text"></i></div>
              </div>
              <input type="text" name="previousEmployer" [(ngModel)]="form.data.previousEmployer" class="form-control" placeholder="{{ 'Enter previous employer' | translate }}">
            </div>
            <span class="alertRedColor">{{ form.inputerror.previousEmployer }}</span>
          </div>

          <!-- Division -->
          <div style="padding-top:3%">
            <label><b>{{ 'divison' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-venus grey-text"></i></div>
              </div>
              <select class="form-control" name="divison" [(ngModel)]="form.data.divison">
                <option [ngValue]="undefined">{{ 'Please select division' | translate }}</option>
                <option value="It">{{ 'It' | translate }}</option>
                <option value="sales">{{ 'sales' | translate }}</option>
                <option value="Tax">{{ 'Tax' | translate }}</option>
                <option value="Education">{{ 'Education' | translate }}</option>
                <option value="Marketing">{{ 'Marketing' | translate }}</option>
              </select>
            </div>
            <span class="alertRedColor">{{ form.inputerror.divison }}</span>
          </div>

          <!-- Buttons -->
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button type="button" (click)="submit()" class="btn btn-success mr-2">
                {{ form.data.id > 0 ? ('Update' | translate) : ('Save' | translate) }}
              </button>
            </div>
            <div class="pl-3 pt-2">
              <button type="button" (click)="forward('/stafflist')" class="btn btn-warning">
                {{ 'List' | translate }}
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
    