<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  input.form-control,
  select.form-control {
    height: 42px !important;
    font-size: 14px;
  }

  .input-group .input-group-text {
    min-width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
  }

  .alertRedColor {
    color: red;
    font-size: 13px;
  }
</style>

<div class="row" style="padding-top: 7%; padding-bottom:15%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; width:auto; height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">
            {{'Add Position' | translate }}
          </h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">
            {{'Update Position' | translate }}
          </h2>

         
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          
          <div class="form-group mt-3">
            <label><b>{{'Designation' | translate }}</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>
              <input type="text" name="designation" [(ngModel)]="form.data.designation" class="form-control"
                placeholder="{{'Enter designation' | translate }}">
            </div>
            <span class="alertRedColor">{{form.inputerror.designation}}</span>
          </div>

          
          <div class="form-group mt-3">
            <label><b>{{'OpeningDate' | translate }}</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>
              <input type="date" name="openingDate" [value]="form.data.openingDate | date:'yyyy-MM-dd'"
                (input)="form.data.openingDate=parseDate($event.target.value)" class="form-control" required />
            </div>
            <span *ngIf="form.inputerror.openingDate" class="alertRedColor">
              {{'Enter openingDate' | translate}}
            </span>
          </div>


          <div class="form-group mt-3">
            <label><b>{{ 'Required Experience' | translate }}</b><span class="required-field">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-briefcase grey-text"></i></div>
              </div>
              <input type="number" name="requiredExperience" [(ngModel)]="form.data.requiredExperience"
                class="form-control" placeholder="{{ 'Enter experience' | translate }}" step="0.1" min="0">
            </div>
            <span *ngIf="form.inputerror.requiredExperience" class="alertRedColor">
              {{ form.inputerror.requiredExperience }}
            </span>
          </div>


          <!-- Product -->
          <div class="form-group mt-3">
            <label><b>{{'ConditionName' | translate }}</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-venus grey-text"></i></div>
              </div>
              <select class="form-control" name="conditionName" [(ngModel)]="form.data.conditionName">
                <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                <option value="Open">Open</option>
                <option value="Close">Close</option>
                <option value="OnHold">OnHold</option>
              </select>
            </div>
            <span *ngIf="form.inputerror.conditionName" class="alertRedColor">
              {{'Enter conditionName' | translate}}
            </span>
          </div>

          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>

            <div class="pl-3 pt-2">
              <button (click)="forward('/position-list')" class="btn btn-md btn-warning">
                {{'List' | translate }}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>